*.exe
*.hf
*.hfc
*.dat
*.dir
*.o
*.svg
*.hfd

test_hashfile
test_svg
test_habitante
test_quadra
test_parser
test_sig
test_output.svg
parser_test.geo
parser_test.pm

.codex_tmp/

exemplos/
pdfs/
testes/
saida_testes/
saida_teste_*/
saida_*/

ed2-projeto.txt
projeto-descricao.txt
run_tests.ps1
url.txt
ted
