* text=auto eol=lf

*.geo linguist-documentation
*.pm linguist-documentation
*.qry linguist-documentation

*.pdf binary
*.exe binary
ted binary

*.dat linguist-generated
*.dir linguist-generated
*.hf linguist-generated
*.hfc linguist-generated
*.hfd linguist-generated
*.svg linguist-generated
